#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Addbutton {
  border: 0.5px solid #413f3f;
  color: rgb(182, 241, 240);
  justify-content: center;
  align-items: center;
  background-color: #428e57;
  width: 150px;
  height: 50px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.Addbutton:hover {
  background-color: #3a7b4a;
  color: #fff;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
